body {
    background-color: rgb(242, 242, 242) !important;
}

.container-fluid {
    padding: 25px;
}

.blockly-workspace {
    min-height: 500px;
    height: 75vh;
}

.blockly-workspace-preview {
    min-height: 200px;
    height: 300px;
    width: 300px
}

/* Blockly workspace */
.injectionDiv {
    border-radius: 0.5rem;
}

.display {
    background-color: rgb(205, 205, 205);
    border-radius: 1.5rem;
    margin-bottom: 15px;
    padding: 10px;
}

.show-options {
    margin-bottom: 10px;
}

.debugging {
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
}

.heading-container {
    width: 100%;
}

/* Hide the preview area initially */
.preview-area {
    display: none; /* This hides the preview area */
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* Additional styles for centering and presentation */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blockly-workspace-preview {
    margin-top: 20px; /* Add some space above the preview box */
    border: 1px solid #ccc; /* Give the box a border for visibility */
    border-radius: 4px; /* Round the corners */
    /* Adjust width and height as needed */
    width: 80%; /* Example width */
}

.preview-buttons {
    width: 100%; /* Take up the full width of the preview area */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Style the buttons (Yes and No) */
#yes-button, #no-button {
    padding: 10px 25px; /* Add more padding */
    margin: 0 10px; /* Add space between buttons */
    font-size: 1rem; /* Increase font size */
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* Hover effect for buttons */
#yes-button:hover, #no-button:hover {
    background-color: #0056b3; /* Darken the button on hover */
    color: white;
}

